:root {
    --primary-color: #1a73e8;
    --background-color: #ffffff;
    --text-color: #202124;
    --button-radius: 5px;
    --font-main: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: var(--font-main);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin: 20px 0;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    text-align: center;
    padding: 5px 10px;
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: var(--button-radius);
}

.button a.link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}

.button a.link:hover {
    color: var(--text-color);
}

#searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-form {
    display: grid;
    gap: 10px;
    width: 100%;
}

#advanced-search-form {
    display: grid;
    gap: 20px;
    max-width: 800px;
    width: 100%;
}

.form-wrapper {
    width: 100%;
}

.search-section {
    display: flex;
    flex-direction: column;
}

.search-section label {
    margin-bottom: 5px;
    font-weight: 500;
}

.search-section input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: var(--button-radius);
    outline: none;
}

#textbox {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: var(--button-radius);
    outline: none;
    margin-bottom: 10px;
}

#button-container {
    display: flex;
    gap: 10px;
}

#submit-button, #lucky-button {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: var(--button-radius);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    grid-column: span 2;
}

#submit-button:hover, #lucky-button:hover {
    background-color: #0c5db2;
}

/* Responsive Styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .button {
        font-size: 12px;
        padding: 8px 16px;
    }

    #searchbar {
        width: 90%;
    }

    .search-section input {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .button-container {
        top: 10px;
        right: 10px;
        gap: 5px;
    }

    .button {
        font-size: 10px;
        padding: 5px 10px;
    }

    #searchbar {
        padding: 10px;
        width: 95%;
    }

    .search-section input {
        font-size: 12px;
    }
}